.header {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  width: 50%;
  margin-bottom: -6%;
}

.header>*:hover {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  transition: background-color 0.2s ease;
  background-color: #27272e;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #1a1a1f;
  margin: 5% auto;
  padding: 50px;
  border-radius: 8px;
  width: 50%;
  overflow-y: auto;
}